.container{
    padding: 1rem;
    width: 15em;
    margin: 0px auto;
    background-color: black;
    color: white;
}
.container>h1{
  height: 2rem;
  width: 100%;
  text-align: right;
}
.container>h4{
    height: 1rem;
    width: 100%;
    text-align: right;
  }
.Btn{
    border: 0;
    margin: 0.5em;
    width: 3rem;
    height: 3rem;
    color: white;
    font-weight: bold;
    font-size: medium;
}